.required:after {
    content: "*";
    color: red;
}

select[readonly] {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}

.select2-container .select2-selection--single {
    height: 37px !important;
}

.modal-loading {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8)
        url("https://i.stack.imgur.com/FhHRx.gif") 50% 50% no-repeat;
}

/* enquanto estiver carregando, o scroll da página estará desativado */
body.loading {
    overflow: hidden;
}

/* a partir do momento em que o body estiver com a classe loading,  o modal aparecerá */
body.loading .modal-loading {
    display: block;
}

.btn-custom-style {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 11px 40px;
    font-size: 0.875rem;
    line-height: 1.35em;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-custom-style:hover,
.btn-custom-style:focus {
    text-decoration: none;
}

.btn-custom-style:focus,
.btn-custom-style.focus {
    outline: 0;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.btn-custom-style.disabled,
.btn-custom-style:disabled {
    opacity: 0.65;
    box-shadow: none;
}

.btn-custom-style:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-custom-style:not(:disabled):not(.disabled):active,
.btn-custom-style:not(:disabled):not(.disabled).active {
    box-shadow: none;
}

.btn-custom-style:not(:disabled):not(.disabled):active:focus,
.btn-custom-style:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08),
        none;
}

.btn-custom-style:hover,
.btn-custom-style:focus,
.btn-custom-style:active,
.btn-custom-style.active,
.btn-custom-style:active:focus,
.btn-custom-style:active:hover,
.btn-custom-style.active:focus,
.btn-custom-style.active:hover,
.navbar .navbar-nav > a.btn-custom-style:hover,
.navbar .navbar-nav > a.btn-custom-style:focus,
.navbar .navbar-nav > a.btn-custom-style:active,
.navbar .navbar-nav > a.btn-custom-style.active,
.navbar .navbar-nav > a.btn-custom-style:active:focus,
.navbar .navbar-nav > a.btn-custom-style:active:hover,
.navbar .navbar-nav > a.btn-custom-style.active:focus,
.navbar .navbar-nav > a.btn-custom-style.active:hover {
    background-color: #00a65a !important;
    color: #ffffff;
    box-shadow: none;
}

.btn-group > .btn-custom-style:hover,
.btn-group-vertical > .btn-custom-style:hover {
    z-index: 1;
}
.btn-sm,
.btn-group-sm > .btn-custom-style {
    padding: 5px 15px;
    font-size: 0.75rem;
    line-height: 1.35;
    border-radius: 0.25rem;
}

.btn-excel {
    color: #fff;
    border: none;
    background-color: #00a65a;
    /* border-color: #00A65A; */
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin: 4px 1px 4px 1px;
}

.btn-excel:hover {
    color: #fff;
}

.name-td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name-td:hover {
    max-width: 200px;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: initial;
}

.btn-filtro {
    width: 108px;
    max-width: 142px;
    max-height: 27px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.painel-header {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.painel-body {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.painel-body th {
    background-color: #d1d1d1;
}

.painel-footer {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

footer img {
    max-width: 4rem;
}
.table > tfoot > tr {
    color: rgba(34, 42, 66, 0.7) !important;
}
.select2-selection__rendered {
    font-size: 0.75rem;
    padding: 4px 10px 10px 18px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 18px;
}

@media print {
    .no-print {
        visibility: hidden;
    }
}
td div.form-group {
    margin-bottom: 0;
}
